body {
	position: relative;
	margin: 0;
	padding-bottom: 50px;
	background-color: #222222;
	color: #c4e3f3;
	min-width: 600px;
	min-height: 100%;
}

.content {
	width: 90%;
	padding: 20px 50px 20px 250px;
	max-width: 1200px;
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: #99aadd;
}

h1 > small {
	color: #bbbbbb;
}

a {
	color: #66afe9;
}

a:hover {
	color: #8888dd;
}

a:visited {
	color: #8888dd;
}

.footer {
	background-color: #101010;
	color: #acc;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	border-top: 2px solid #202040;
}

.nav {
	padding-top: 5%;
	background-color: #303030;
	float: left;
	height: 100%;
	position: absolute;
	max-width: 12%;
	min-width: 200px;
}

.nav ul {
	list-style-type: none;
	padding-left: 0;
}

.nav li {
	padding-right: 20px;
	padding-left: 15px;
}

.nav .selected {
	background-color: #404040;
}